In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("/MusaddiqueHussainLabs/ml_regression_taxi_fare_prediction/data/raw/taxi-fare-full.csv", encoding="utf-8")
df

,vendor_id,rate_code,passenger_count,trip_time_in_secs,trip_distance,payment_type,fare_amount
0,CMT,1,1,1271,3.80,CRD,17.5
1,CMT,1,1,474,1.50,CRD,8.0
2,CMT,1,1,637,1.40,CRD,8.5
3,CMT,1,1,181,0.60,CSH,4.5
4,CMT,1,1,661,1.10,CRD,8.5
...,...,...,...,...,...,...,...
199995,VTS,1,1,1320,1.91,CRD,14.5
199996,VTS,1,6,480,1.29,CRD,7.0
199997,CMT,1,1,952,1.70,CSH,11.0
199998,CMT,1,1,738,2.10,CSH,10.5
199999,CMT,1,1,433,1.10,CSH,7.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   vendor_id          200000 non-null  object
 1   rate_code          200000 non-null  int64
 2   passenger_count    200000 non-null  int64
 3   trip_time_in_secs  200000 non-null  int64
 4   trip_distance      200000 non-null  float64
 5   payment_type       200000 non-null  object
 6   fare_amount        200000 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 10.7+ MB

In [7]:
df.isnull().sum()

vendor_id            0
rate_code            0
passenger_count      0
trip_time_in_secs    0
trip_distance        0
payment_type         0
fare_amount          0
dtype: int64

In [9]:
df.shape

(200000, 7)

In [10]:
df.columns

Index(['vendor_id', 'rate_code', 'passenger_count', 'trip_time_in_secs',
       'trip_distance', 'payment_type', 'fare_amount'],
      dtype='object')